
.ContainerS {
    
    margin-left:30px;
    margin-right:50px;
    padding:30px;
    width:70vw;
    min-height:60vh;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:left;
    border-radius: 30px;
    box-shadow: 0 12px 16px rgb(10, 10, 10);
    
}

h1 {
    margin-left: 30px;
    color:#420d5b;
    margin-bottom: 20px;
}
a {
    font-size:18px;
    color:   #6ad728;
}
p {
    
    font-size: 14px;
    margin-left:30px;
    color: #420d5b;
    margin-top:0px;
    text-align:justify;
    
}
justificado{
    
    text-align:justify;
}
@media(max-width:768px){



 .ContainerS{
     font-size:14px;
     overflow:auto;
     margin-bottom:10px;
 }
    .titulo {
        margin-left: 30px;
        color: #420d5b;
        padding: 15px;
    }
        .mobile-menu { /*menu hambuger*/
        
        top: 110px;
        right: 40px;
        width: 30%;
        height: 70%;
        background: radial-gradient( rgb(176, 171, 171,0.9),rgb(114, 44, 134,0.9));
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        z-index: 4;
      
    }
}